segmentation_threshold: 0.75
blur: 3
erode: 10
dilate: 10
virtual_video_device: "/dev/video0"
real_video_device: "/dev/video1"
average_masks: 3
mjpeg: False
layers:
  - "empty": [["image", "background.jpg"]]
  - "foreground": []
